body {
    padding: 1.5rem;
}
/************************
        login 
 ***********************/
.login {
    display: flex;
}
.input_login {
    display: flex;
    flex-direction: column;
}
.register {
    display: flex;
}
.input_register {
    display: flex;
    flex-direction: column;
}
/************************
        default 
 ***********************/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    background-color: lightskyblue;
    color: #ffffff;
    padding: 0.5em;
}
.logo {
    padding-left: 0.25em;
    z-index: 3;
    position: absolute;
    top: 0.25em;
    left: 2.5em;
}

.title {
    padding: 1rem;
    font-size: 3rem;
}

.headerLine {
    display: flex;
    justify-content: flex-start;
}
.burgerMenu {
    padding: 10px 0 10px 10px;
}
.menuListOpen {
    background-color: lightskyblue;
    height: 28px;
    width: 28px;
    border: none;
    outline: none;
}
.menuListOpen:hover {
    cursor: pointer;
}
.menuListClose {
    background-color: rgba(119, 170, 211, 0.95);
    /* font-size: 10px; */
    border: none;
    padding: 10px;
}
.menuListClose:hover {
    cursor: pointer;
}
.close-sidebar {
    list-style: none;
}
.menu_list {
    position: absolute;
    top: 1em;
    left: 0.5em;
    width: 15em;
    height: 25em;
    background-color: rgba(119, 170, 211, 0.95);
    z-index: 4;
}
.logo {
    font-size: 1.5rem;
}
.container {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
}
/************************
        home 
 ***********************/
.icon:hover {
    background-color: rgba(119, 170, 211, 0.6);
}
.icon:active {
    background-color: rgba(12, 121, 209, 0.95);
}
.posts {
    display: flex;
}
.newPosts {
    padding-top: 5rem;
}
.existingPosts {
    padding: 1.5rem;
}
.homeLink {
    margin: 0 5px 0 5px;
}
.del {
    margin: 0 5px 0 5px;
}
/************************
        create 
 ***********************/
.back {
    font-size: 12px;
    font-weight: normal;
    float: right;
}
.thumbnail {
    height: 50px;
    max-width: 50px;
    /* margin: 10px; */
    border: solid thin lightgray;
    border-radius: 5px;
}
.imgInput {
    display: flex;
    align-items: center;
}
/************************
        show 
 ***********************/
.comment {
    padding: 2rem 0 1rem 0;
    font-size: 14px;
}
li.commentList {
    list-style: none;
    padding-left: 28px;
    background: url(/storage/img/comment.png) left 0px top 3px no-repeat;
    background-size: 17px auto;
}
